<header class="bg-slate-900 py-2">
	<div class="container mx-auto px-4 lg:px-6">
	  <div class="flex gap-4">
		<a href="/">
		  <img src="https://d23ybtgf63dak7.cloudfront.net/assets/images/white-logo-88e053845e710a6a7a0d3c5c3cfff532.png" width="24" />
		</a>
		<div class="flex w-full justify-between items-center gap-4">
		  <input class="lead inline-flex w-96 rounded border border-gray-300 bg-gray-50 px-4 py-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" placeholder="Search for people, groups, companies and more" type="text" />
		  <ul class="flex items-center">
			<li class="inline-block">
			  <a class="inline-flex items-center rounded py-2 px-4 font-semibold text-gray-100" href="/"><i class="fa-solid fa-envelope"></i></a>
			</li>
			<li class="inline-block">
			  <a class="inline-flex items-center rounded py-2 px-4 font-semibold text-gray-100" href="/"><i class="fa-solid fa-bell"></i></a>
			</li>
			<li class="dropdown relative inline-block">
			  <a class="inline-flex items-center rounded py-2 px-4 font-semibold text-gray-100" href="/"><img height="30" src="https://www.rallypoint.com/assets/default/avatar_medium.png" width="30" />Jasper Lepardo</a>
			  <ul class="dropdown-menu absolute hidden pt-1">
				<li>
				  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/"><i class="material-symbols-outlined">person</i>My Profile</a>
				</li>
				<li>
				  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/"><i class="material-symbols-outlined">contacts</i>My Contacts</a>
				</li>
				<li>
				  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/"><i class="material-symbols-outlined">group_work</i>My Groups</a>
				</li>
				<li>
				  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Settings</a>
				</li>
				<li>
				  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Support</a>
				</li>
				<li>
				  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Leaderboard</a>
				</li>
				<li>
				  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Log Out</a>
				</li>
			  </ul>
			</li>
			  </ul>
			</li>
		  </ul>
		</div>
	  </div>
	</div>
  </header>
  
  <nav class="border-b mb-6">

	<div class="container mx-auto px-4 lg:px-6  -mb-[1px] ">
		<div class="flex justify-between w-full">
			<ul>
				<li class="dropdown relative inline-block">
				  <a class="flex items-center gap-[2px] p-4 font-semibold border-b-2 border-b-blue-500">
					<i class="fa-solid fa-house w-6 text-center text-base leading-normal"></i>
					<span>Home</span>
				  </a>
				  <ul class="dropdown-menu absolute hidden pt-1">
					<li>
					  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">My Feed</a>
					</li>
					<li>
					  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Answers</a>
					</li>
				  </ul>
				</li>
				<li class="dropdown relative inline-block">
					<a class="flex items-center gap-[2px] p-4 font-semibold">
						<i class="fa-solid fa-building w-6 text-center text-base leading-normal"></i>
					<span class="text-sm leading-none">Resources</span>
				  </a>
	  
				  <ul class="dropdown-menu absolute hidden pt-1">
					<li>
					  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Wellness</a>
					</li>
					<li>
					  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Emergency</a>
					</li>
					<li>
					  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Jobs</a>
					</li>
					<li>
					  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Education</a>
					</li>
					<li>
					  <a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Real Estate</a>
					</li>
				  </ul>
				</li>
				<li class="inline-block">
					<a class="flex items-center gap-[2px] p-4 font-semibold">
						<i class="fa-solid fa-chart-pie w-6 text-center text-base leading-normal"></i>
					<span class="text-sm leading-none">Command Post</span>
				  </a>
				</li>
			  </ul>
	
			  <ul>
				<li class="dropdown relative inline-block">
					<a class="inline-flex items-center rounded p-4 font-semibold" href="/">Business</a>
					<ul class="dropdown-menu absolute hidden pt-1">
					  <li>
						<a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Business Services</a>
					  </li>
					  <li>
						<a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Marketing Solutions</a>
					  </li>
					  <li>
						<a class="block whitespace-nowrap rounded bg-gray-200 py-2 px-4 hover:bg-gray-400" href="/">Talent Solutions</a>
					  </li>
	  
			  </ul>
		</div>
	</div>

  </nav>